.form-product-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.216);
    z-index: 100;
    overflow: auto;
}

.form-product {
    width: 900px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}

.edit-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.backspace {
    top: 20px;
    right: 20px;
    position: absolute;
}

.description-area {
    width: 320px;
    resize: none;
    height: 100px;
}