footer {
  margin-top: auto;
  background-color: rgba(0, 17, 254, 0.392);
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 14px;
}